{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Blog{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <header class="site-header">
    <!-- Логотип: ведёт на список статей -->
    <div class="logo">
        <a href="{% url 'homepage' %}">📝 MyBlog</a>
    </div>

    <!-- Навигация -->
    <nav class="site-nav">
  <ul>
    <li>
        <a href="{% url 'homepage' %}">Homepage</a>
    </li>
    <li>
        <a href="{% url 'homepage' %}">All articles</a>
    </li>
    <li>
        <a href="{% url 'about' %}">About</a>
    </li>
    {% if user.is_authenticated %}
      <li>
          <form class="form" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
          </form>
      </li>
    {% else %}
      <li class="nav-item ms-auto">
          <a class="btn btn-outline-primary" href="{% url 'accounts:login' %}">Login</a>
      </li>
      <li class="nav-item ms-3">
          <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign Up</a>
      </li>
    {% endif %}
  </ul>
</nav>
  </header>

  <main class="content">
      {% block content %}
    {% endblock %}
  </main>

  <footer class="site-footer">
    <p>&copy; MyBlog</p>
  </footer>

</body>
</html>
